/* Variables */
:root {
  --white: #FFFFFF;
  --light-grey: #F2F2F2;
  --grey: #888888;
  --brown-grey: #666666;
  --blue: #81B3D2;
  --blue-middle: #669EC0;
  --blue-exstra-dark: #5496BD;
  --brown: #766357;
  --brown-middle: #604E43;
  --brown-dark: #503E33;
  --brown-exstra-dark: #333333;
  --black: #000000;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-nav-container {
  line-height: 26px;
  color: var(--black);
}

.site-nav {
  list-style: none;
  text-align: center;
}

/* User navigation */
.site-nav a {
 color: inherit;
}

.site-nav a:focus,
.site-nav a:hover {
  color: var(--blue);
}

.site-nav a:active {
  color: var(--black);
}

.site-nav a:not([href]) {
  color: var(--brown);
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*main*/
.hero {
  background-color: var(--black);
  background-image: url("background-welcome.jpg");
  width: 1200px;
}
.advantages-list {
  list-style: none;
}

.site-nav {
  list-style: none;
}

.advantages h2 {
  color: var(--brown-exstra-dark);
  font-weight: normal;
  text-align: center;
}

.interest {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
}

.travel-dates {
  color: var(--brown-exstra-dark);
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

/*Footer*/
.social-list {
  list-style: none;
}

.hashtag,
.tel {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
}

.social-list a {
  color: var(--black);
}

.img-logo a {
  color: var(--black)
}

.website {
  color: var(--black);
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
}

/*User link-footer

.social-link span:hover,
.social-link span:focus,
.tel a:focus
{
color:var(--middle-blue)
}
.social-link span:active,
{
  color:var(--exstra-dark-blue)
}
*/
/*Catalog*/
.visually-hidden
{
visibility: hidden;
}
.hotel-items {
  list-style: none;
}

.hotel-items a {
  color: var(--black);
  font-size: 21px;
}

.catalog-category-price{
  font-weight: normal;
  line-height: 21px;
  color: var(--brown-exstra-dark);
}

.button {
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
}

.rating {
  color: var(--brown-grey);
  background-color: var(--light-grey);
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.detail div {
  background-color: var(--blue);
}

.book div {
  background-color: var(--brown);

}

.hotel-title-link {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
}

/*User link class button*/

.detail div:focus,
.detail div:hover {
  background-color: var(--blue-middle);
}

.book div:focus,
.book div:hover {
  background-color: var(--brown-middle);
}

.detail div:active {
  background-color: var(--blue-exstra-dark);
}

.book div:active {
  background-color: var(--brown-dark);
}

/*User link */

.hotel-title-link:hover,
.hotel-title-link:focus {
  color: var(--blue);
}

.hotel-title-link:active {
  color: var(--black);
}
/*Search*/
.search
{
  display: none;
}
