/* Variables */
:root {
  --white: #FFFFFF;
  --light-grey: #F2F2F2;
  --grey: #888888;
  --brown-grey-light: #EEEEEE;
  --brown-grey: #666666;
  --blue: #81B3D2;
  --blue-middle: #669EC0;
  --blue-exstra-dark: #5496BD;
  --brown: #766357;
  --brown-middle: #604E43;
  --brown-dark: #503E33;
  --brown-exstra-dark: #333333;
  --black: #000000;
  --backgroung-welcome: #7aa2c8;
  --background-catalog: #6d757e;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */
.main-nav-container {
  line-height: 26px;
  color: var(--black);
  text-align: center;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* User navigation */
.site-nav a {
  color: inherit;
  font-weight: bold;
}

.site-nav a:focus,
.site-nav a:hover {
  color: var(--blue);
}

.site-nav a:active {
  color: var(--black);
}

.site-nav a:not([href]) {
  color: var(--brown);
}

/*main*/
.hero {
  background-color: var(--backgroung-welcome);
  background-image: url("../img/background-welcome.jpg");
  width: 1200px;
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
}

/*section advantages*/
.main-heading-advantages {
  line-height: 26px;
  color: var(--brown-exstra-dark);
  text-align: center;
  font-weight: normal;
}

.advantages-inner-list {
  text-align: center;
}

.advantages-box {
  color: var(--white);
  background-color: var(--blue);
  text-align: center;
}

.heading-advantages,
.advantages-inner-title {
  font-size: 21px;
  font-weight: bold;
}

.advantages-item-box {
  background-color: var(--brown-grey-light);
  text-align: center;
}

.advantages-content {
  color: var(--brown-exstra-dark);
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.search-description {
  color: var(--brown-exstra-dark);
  line-height: 24px;
  text-align: center;
}

.button-search {
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--brown);
}

.button-find {
  background-color: var(--blue);
}

/* User button-find*/
.button-find:hover {
  background-color: var(--blue-middle);
}

.button-find:active {
  background-color: var(--blue-exstra-dark);
}


.search-form {
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}

/*Footer*/

.page-footer {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  text-align: center;
  font-weight: bold;
}

.tel {
  color: var(--black);
}

.social-list a {
  color: var(--black);
}

.img-logo a {
  color: var(--black)
}

.website {
  color: var(--black);
  line-height: 26px;
  font-weight: normal;
  font-size: 14px;
}

/*User link-footer

.social-link span:hover,
.social-link span:focus,
.tel a:focus
{
color:var(--middle-blue)
}
.social-link span:active,
{
  color:var(--exstra-dark-blue)
}
*/
/*Catalog*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-title-link {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-category-price {
  color: var(--brown-exstra-dark);
}

.button-hotel {
  color: var(--white);
  font-weight: bold;
}

.rating {
  color: var(--brown-grey);
  background-color: var(--light-grey);
  text-align: center;
}

.detail-button {
  background-color: var(--blue);
}

.book-button {
  background-color: var(--brown);

}

.hotel-title-link {
  color: var(--black);
}

/*User link class button*/

.detail-button:focus,
.detail-button:hover {
  background-color: var(--blue-middle);
}

.book-button:focus,
.book-button:hover {
  background-color: var(--brown-middle);
}

.detail-button:active {
  background-color: var(--blue-exstra-dark);
}

.book-button:active {
  background-color: var(--brown-dark);
}

/*User link */

.hotel-title-link:hover,
.hotel-title-link:focus {
  color: var(--blue);
}

.hotel-title-link:active {
  color: var(--black);
}

/*catalog filter*/
.filter-form {
  background-color: var(--background-catalog);
  background-image: url("../img/background.jpg");
  color: var(--white);
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.link-sorting {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  text-decoration: underline;
  text-decoration-style: dotted;
}

/*user sorting*/

.link-sorting:hover {
  color: var(--blue);
}

.link-sorting:active {
  color: var(--blue);
  text-decoration: none;
}

.link-sorting:focus {
  color: var(--black);
  text-decoration: none;
}

