/* Variables */
:root {
  --white: #FFFFFF;
  --light-grey: #F2F2F2;
  --grey: #888888;
  --brown-grey-light: #EEEEEE;
  --border: #E5E5E5;
  --brown-grey: #666666;
  --blue: #81B3D2;
  --blue-middle: #669EC0;
  --blue-exstra-dark: #5496BD;
  --brown: #766357;
  --brown-middle: #604E43;
  --brown-dark: #503E33;
  --brown-exstra-dark: #333333;
  --black: #000000;
  --backgroung-welcome: #7aa2c8;
  --background-catalog: #6d757e;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--black);
  text-transform: uppercase;
  background-color: var(--grey);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Grid*/
.page {
  height: 100%;
}

.container {
  width: 1200px;
  background-color: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0 auto;
}

/* Main navigation */
.main-nav-container {
  line-height: 26px;
  color: var(--black);
  text-align: center;
}

.reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list-logo {
  display: grid;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.site-nav-list {
  display: flex;
  width: 100%;
  outline: 5px solid rgba(0, 55, 0, 0.7);
  outline-offset: -5px;
}

.site-nav-item {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.site-nav-item:first-child {
  margin-left: 72px;
}

.site-nav-item:last-child {
  margin-right: 72px;
}

.site-nav-item:nth-child(3) {
  margin-left: 418px;
}

.site-nav-item:nth-child(2) {
  margin-right: 0;
}

.main-header-logo {
  outline: 5px solid rgba(0, 0, 555, 0.7);
  outline-offset: -5px;
}


/* User navigation */
.site-nav a {
  color: inherit;
  font-weight: bold;
}

.site-nav a:focus,
.site-nav a:hover {
  color: var(--blue);
}

.site-nav a:active {
  color: var(--black);
}

.site-nav a:not([href]) {
  color: var(--brown);
}

/*main*/
.hero {
  display: flex;
  justify-content: center;
  background-color: var(--backgroung-welcome);
  background-image: url("../img/background-welcome.jpg");
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  width: 1200px;
  min-height: 509px;
}

.main-heading {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
  align-items: center;
  outline: 5px solid rgba(0, 255, 2, 0.7);
  outline-offset: -5px;
}

/*section advantages*/
.main-heading-advantages {
  line-height: 26px;
  color: var(--brown-exstra-dark);
  text-align: center;
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 51px;
  outline: 5px solid rgba(0, 25, 0, 0.7);
  outline-offset: -5px;
}

.advantages-inner-list {
  text-align: center;
}

.advantages-box {
  color: var(--white);
  background-color: var(--blue);
  text-align: center;
}

.advantages-heading,
.advantages-inner-title {
  font-size: 21px;
  font-weight: bold;
}

.advantages-item-box {
  background-color: var(--brown-grey-light);
  text-align: center;
}

.advantages-content {
  color: var(--brown-exstra-dark);
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-wrap {
  width: 568px;
  align-items: center;
  display: flex;
  flex-direction: column;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.search-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.button-search-hotel {
  display: flex;
  align-items: stretch;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-title {
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
}

.search-description {
  color: var(--brown-exstra-dark);
  line-height: 24px;
  text-align: center;
}

.button-search {
  color: var(--white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  background-color: var(--brown);
}

.button-find {
  background-color: var(--blue);
}

/* User button-find*/
.button-find:hover {
  background-color: var(--blue-middle);
}

.button-find:active {
  background-color: var(--blue-exstra-dark);
}


.search-form {
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 395px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

/*Footer*/
.page-footer {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
  font-weight: bold;


  display: flex;
  justify-content: space-between;
  margin-right: 138px;
  margin-left: 111px;
  align-items: center;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.footer-contact {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 23px;
  margin-bottom: 36px;
}

.social-list a {
  outline: 5px solid rgba(0, 100, 255, 0.7);
  outline-offset: -5px;
  width: 46px;
  height: 48px;
  background-color: var(--blue);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list li {
  display: flex;
  margin-right: 6px;
  margin-top: 36px;
  margin-bottom: 36px;
}

.website-wrap {
  outline: 5px solid rgba(78, 66, 245, 0.7);
  outline-offset: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 38px;
  margin-bottom: 41px;
}

.tel {
  color: var(--black);
  display: flex;
}

.hashtag {
  display: flex;
  margin-bottom: 9px;
}

.img-logo a {
  color: var(--black)
}

.website {
  color: var(--black);
  line-height: 26px;
  font-weight: normal;
  font-size: 14px;
}

/*User link-footer

.social-link:hover,
.social-link:focus,
.tel a:focus
{
 backgroung-color:var(--middle-blue)
}
.social-link:active,
.tel a:active
{
  background-color:var(--exstra-dark-blue)
}
*/
/*Catalog*/
/*Catalog section hotel-list*/
.hotel-list {
  display: flex;

  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.hotel {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  outline: 5px solid rgba(255, 555, 0, 0.7);
  outline-offset: -5px;
}

.hotel-item {
  display: flex;
  width: 100%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--border);
  outline: 5px solid rgba(0, 555, 0, 0.7);
  outline-offset: -5px;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hotel-title-link {
  color: var(--black);
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  order: 2;

}

.catalog-category-price {
  color: var(--brown-exstra-dark);
}

.button-hotel {
  color: var(--white);
  font-weight: bold;
}

.rating {
  color: var(--brown-grey);
  background-color: var(--light-grey);
  text-align: center;
}

.detail-button {
  background-color: var(--blue);
}

.book-button {
  background-color: var(--brown);

}

.hotel-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}

.hotel-img {
  outline: 5px solid rgba(255, 55, 556, 0.7);
  outline-offset: -5px;
  order: -1;
  margin-left: 73px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 29px;
}

/*User link class button*/

.detail-button:focus,
.detail-button:hover {
  background-color: var(--blue-middle);
}

.book-button:focus,
.book-button:hover {
  background-color: var(--brown-middle);
}

.detail-button:active {
  background-color: var(--blue-exstra-dark);
}

.book-button:active {
  background-color: var(--brown-dark);
}

/*User link */

.hotel-title-link:hover,
.hotel-title-link:focus {
  color: var(--blue);
}

.hotel-title-link:active {
  color: var(--black);
}

/*catalog filter*/
.filter-form {
  background-color: var(--background-catalog);
  background-image: url("../img/background.jpg");
  color: var(--white);
}

.filter-form legend {
  font-size: 16px;
  font-weight: bold;
}

.found {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting h2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.link-sorting {
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  text-decoration: underline;
  text-decoration-style: dotted;
}

/*user sorting*/

.link-sorting:hover {
  color: var(--blue);
}

.link-sorting:active {
  color: var(--blue);
  text-decoration: none;
}

.link-sorting:focus {
  color: var(--black);
  text-decoration: none;
}


