:root {
  --white: #FFFFFF;
  --grey:#888888;
  --blue:#81B3D2;
  --brown:#766357;
  --black:#000000;
}
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-black);
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
